body {
     margin-top: 20px;
     margin-right: 20px;
     margin-bottom: 20px;
     margin-left: 50px;
}
p{
.autor-do-artigo {
    color:#C63D2F;
    font-weight:bold;
    font-style: italic;
    margin-bottom:10px;
}
}

.titulo-de-artigo {
h1 {
    color:#FFBB5C
    ebrick(255, 8, 123);
    line-height: 2;
    font-weight: bold;
    font-size: 20pt; 
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    border-radius: 20px;
}
.subtitulo-de-pagina
h2 {
    color:#FF9B50(255, 8, 123);
    line-height: 2;
    font-weight: bold;
    font-size: 22pt;
    font-family: Arial, Helvetica, sans-serif;
}}
